@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");
@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&display=swap");
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  color: rgb(0, 0, 0);
  font-family: "Baloo Bhai 2", cursive;
}
.search {
  color: white;
  display: flex;
  background-color: black;
  justify-content: space-between;
  height: 6vh;
  align-items: center;
}
.nav {
  display: flex;
  justify-content: space-between;
  /* background-color: red; */
  align-items: center;
  margin-left: 10px;
  margin-right: 15px;
  margin-top: 20px;
}
.logo {
  color: black;
  font-size: 30px;
  margin-right: 200px;
  cursor: pointer;
}
ul li {
  display: inline-block;
  /* margin: 20px; */
}
ul li a {
  box-sizing: border-box;
  margin: 20px;
  padding: 20px;
  border: 2px solid black;
  text-decoration: none;
  color: rgb(255, 255, 255);
  background-color: black;
}
li a:hover {
  border: 2px solid black;
  border-color: black white white;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  transition: 0.3s ease-in-out;
}
.btn {
  padding: 10px;
  border: 1px hidden;
  color: white;
  border-radius: 10px;
  transition: 0.3s;
  cursor: pointer;
}
.btn:hover {
  background-color: rgb(234, 224, 224);
  color: white;
}
.home {
  height: 600px;
  background-image: url(/pic/home.jpg);
  background-position: center;
  align-items: center;
}
.home h1 {
  color: black;
  font-size: 60px;
  /* margin-top: 50px; */
  display: block;
  letter-spacing: 3px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.btn2 {
  color: white;
  font-size: 15px;
  padding: 9px 30px;
  margin-left: 10%;
  background-color: black;
  transition: 0.4s ease-in-out;
}
.btn2:hover {
  color: black;
  border: 1px solid black;
  background-color: #ec703f;
  transform: scale(1.1);
}
.brands {
  /* display: inline; */
  text-align: center;
}
.brands h1 {
  font-size: 45px;
  transition: 0.5s;
}
.brands-h1:hover {
  transform: translate(10%);
  transition-delay: .2s;
}
.brands img {
  margin: 40px;
  cursor: pointer;
  transition: 0.3s;
}
.brands-img:hover {
  transform: scale(1.2);
}
.our-boxes {
  text-align: center;
  background-color: #f9f2e5;
}
.our-boxes img {
  width: 500px;
  margin: 25px;
  cursor: pointer;
  transition: 0.4s;
}
.our-boxes img:hover {
  transform: scale(1.2);
}
.btn3 {
  padding: 10px 30px;
  background-color: black;
  color: white;
  transition: 0.4s ease-in;
}
.btn3:hover {
  border: 2px solid black;
  background-color: bisque;
  color: black;

  transform: scale(1.1);
}
.footer {
  background-color: #fc8947;
  height: 300px;
  text-align: center;
}
.footer h5 {
  font-size: 55px;
}
